/*=======================================*/
/* Reset everything to baseline defaults */
/*=======================================*/
@import url("clear.css");


/*=======================================*/
/* Now set the defaults we want          */
/*=======================================*/
html,body { height: 100%; width: 100%; }
body {
	border:				0 none;
	padding:			0;
	background:			#fdfdfd;
	color:				#333;
	vertical-align:		baseline;
	tabindex:			-1;
	text-decoration:	none;
}
html,body,form,fieldset { font: 11px/140% Tahoma,Arial,"DejaVu Sans",Helvetica,sans-serif; }
a { color: #40529b; }
a:hover { text-decoration: underline; color: #33c5d8; }
input,select,textarea
	{ font: 100% Tahoma,Arial,"DejaVu Sans",Helvetica,sans-serif; }
b { font-weight: bold; }
i { font-style: italic; }
em { font-weight: bold; font-style: italic; }
u { text-decoration: underline; }
tt { font: 9pt "Andale Mono","DejaVu Sans Mono",Consolas,"Courier New",Courier,monospace; }

/*hr { display:block; height:1px; border-top:1px solid #666; margin:2px auto; }*/
hr { display:block; height:1px; border:0; background-color:#666; margin:2px auto; }
li,dd,blockquote { margin-left: 1em; }
td { padding: 2px; }

/*=======================================*/
/* Buttons                               */
/*=======================================*/
button {
	_font-weight:		bold;
	_color:				white;
	_background-color:	#f24800;
	_width:				1px;
	_padding:			0px 10px;
	_overflow:			visible;
}
button, input[type=submit], input[type=submit], input[type=reset], input[type=button] {
	font-weight: bold;
	color: white;
	border: 1px solid #d22800;
	background-color: #f24800;
	padding: 0px 10px;
	*padding: 0px 0px;
	margin: 0;
	line-height: 150%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-opera-border-radius: 5px;
	border-radius: 5px;
}
button, input[type=reset] { background-color: white; color: black; border: 1px solid #666; }
button:hover, input[type=submit]:hover, input[type=button]:hover
	{ background-color: #e23800; }
button, input[type=reset]:hover { background-color: #ddd; color: black; }
button:active, input[type=submit]:active, input[type=reset]:active, input[type=button]:active
	{ margin: 1px 0 0 1px; }
button.SmallBtn, input[type=submit].SmallBtn, input[type=reset].SmallBtn, input[type=button].SmallBtn
	{ line-height: 120%; }
button.BigBtn, input[type=submit].BigBtn, input[type=reset].BigBtn, input[type=button].BigBtn
	{ line-height: 200%; padding: 0px 20px; }
button.MaxWBtn, input[type=submit].MaxWBtn, input[type=reset].MaxWBtn, input[type=button].MaxWBtn
	{ width: 100%; }
button[disabled], input[type=submit][disabled], input[type=reset][disabled], input[type=button][disabled] {
	font-style: normal; font-weight: 100;
	-moz-opacity: 0.50;	opacity: .50;	filter: alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

/*=======================================*/
/* Input Fields                          */
/*=======================================*/
input[type=text], input[type=password], input[type=file] {
	border: 1px inset #827e9a;
	background-color: #eaeeff;
}
input[type=text]:focus, input[type=password]:focus {
	border: 1px inset #827e9a;
	background-color: #fff7d7;
}
input[type=text][disabled], input[type=password][disabled] {
	border: 1px dashed #827e9a;
	background-color: #b7cae4;
	color: #2c333c;
}
input[type=checkbox] { -moz-appearance: none;width:13px;height:13px; }


.shadowBox {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid #bbb;
	border-right: 1px solid #bbb;
}


/* these are reference colors for the color scheme:

"Official" core color: #F24800

                color    dark    light   border
           OK:  green    88d066  cce8cc  777777
      WARNING:  yellow   ffff00  feffc1  777777
     CRITICAL:  red      f88888  ffdddd  777777
      PENDING:  grey     acacac  fefefe  777777
      UNKNOWN:  orange   ffbb55  ffddaa  777777
  UNREACHABLE:  orange   ffbb55  ffddaa  777777
INDETERMINATE:  purple           ddccff  777777
     PROBLEMS:  blue             aaccff  777777

          ACK:  aaaaaa
       CUSTOM:  778899

    important:  blue     99aacc          777777
not important:  blue             aaccff  777777

 table header:  d0d0d0
     odd rows:  e7e7e7
    even rows:  f4f2f2

   titles: 12pt
   body: 10pt
   table headings: 9pt
   controls: 9pt
   data in tables: 8pt or 9pt
*/

img.imgClick { cursor: pointer; }

div.infoBoxWrap {
	float:left;
	display:inline-block;
	margin:5px 0 10px 5px;
	font-size: 8pt;
	white-space: nowrap;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid #bbb;
	border-right: 2px solid #bbb;
}
div.infoBoxTitle {
	background-color: #d0d0d0;
	border-bottom: 1px solid #aaaaaa;
	font-size:10pt;
	font-weight:bold;
	text-align:center;
	padding: 5px 0;
}
div.infoBox {
	background-color: #eeeeee;
	padding: 5px;
}
div.infoBoxBadProcStatus { font-size: 8pt; font-weight: bold; color: #ff8888; }

div.contextHelp {
	float:right;
	display:inline-block;
	margin:5px;
}



.linkBox { font-size: 8pt; padding: 1px; white-space: nowrap; }
/*table.linkBox td { white-space: nowrap; }*/

.filter      { font-size: 8pt; padding: 1px; }
.filterTitle { font-size: 9pt; font-weight: bold; }
.filterName  { font-size: 8pt; text-align: right; font-weight: bold; }
.filterValue { font-size: 8pt; }

.errorDescription { font-size: 10pt; text-align: center; font-weight: bold; }
.errorMessage     { font-size: 10pt; text-align: center; font-weight: bold; color: #ff8888; }
.warningMessage   { font-size: 10pt; text-align: center; font-weight: bold; color: #ff8888; }

.statusTitle { text-align: center; font-weight: bold; font-size: 12pt; white-space: nowrap; }
.statusSort  { font-size: 8pt; }

table.data    { padding: 0; }
th.data       { font-size: 9pt; text-align: left; padding: 0 3px 0 3px; border-bottom: 1px solid #777777; color: #333333; }
.dataOdd      { font-size: 8pt; background-color: #e7e7e7; padding: 0px 4px 0px 4px; }
.dataEven     { font-size: 8pt; background-color: #f4f2f2; padding: 0px 4px 0px 4px; }
.dataTitle    { font-size: 12pt; text-align: center; font-weight: bold; }
.dataSubTitle { font-size: 10pt; text-align: center; font-weight: bold; }

.optBox             { font-size:  9pt; white-space: nowrap; padding: 2px 0px 0px 0px; }
.optBoxTitle        { font-size: 10pt; font-weight: bold; text-align: center; }
.optBoxRequiredItem { font-size:  9pt; text-align: right; padding: 0px 5px 0px 5px; color: red; }
.optBoxItem         { font-size:  9pt; text-align: right; padding: 0px 5px 0px 5px; }
.optBoxValue        { font-size:  9pt; }

.optionBoxTitle { font-size: 10pt; text-align: center; font-weight: bold; }
.optionBox      { font-size: 10pt; padding: 2px; }

.navBoxTitle { font-size: 10pt; font-weight: bold; white-space: nowrap; }
.navBoxItem  { font-size: 8pt; }
.navBoxDate  { font-size: 8pt; white-space: nowrap; }
.navBoxFile  { font-size: 8pt; text-align: center; }

.helpfulHint { font-size: 8pt; font-style: italic; text-align: center; }

.logEntries { font-size: 8pt; white-space: nowrap; }

.dateTimeBreak { font-size: 9pt; font-weight: bold; }

.reportRange    { font-size: 10pt; white-space: nowrap; }
.reportDuration { font-size:  8pt; white-space: nowrap; }
.reportTime     { font-size:  8pt; white-space: nowrap; text-align: right; font-style: italic; }

.reportSelectTitle    { font-size: 12pt; text-align: center; font-weight: bold; }
.reportSelectSubTitle { font-size:  9pt; text-align: right; }
.reportSelectItem     { font-size:  9pt; }
.reportSelectTip      { font-size:  8pt; font-style: italic; }

.dateSelectTitle    { font-size: 12pt; text-align: center; font-weight: bold; }
.dateSelectSubTitle { font-size:  9pt; text-align: right; }
.dateSelectItem     { font-size:  9pt; }

.popupText { font-size: 8pt; background-color: #eeeeaa; border: 1px solid #777777; padding: 10px 10px 10px 10px; }

.hostImportantProblem      { font-size: 8pt; background-color: #88aadd; border: 1px solid #aaaaaa; padding: 2px 5px; margin-bottom:2px; }
.hostUnimportantProblem    { font-size: 8pt; background-color: #aaccff; border: 1px solid #888888; padding: 2px 5px; margin-bottom:2px; }

.serviceImportantProblem   { font-size: 8pt; background-color: #88aadd; border: 1px solid #aaaaaa; padding: 2px 5px; margin-bottom:2px; }
.serviceUnimportantProblem { font-size: 8pt; background-color: #aaccff; border: 1px solid #888888; padding: 2px 5px; margin-bottom:2px; }

.outageImportantProblem    { font-size: 8pt; background-color: #88aadd; border: 1px solid #aaaaaa; padding: 2px 5px; margin-bottom:2px; }
.outageUnimportantProblem  { font-size: 8pt; background-color: #aaccff; border: 1px solid #888888; padding: 2px 5px; margin-bottom:2px; }
