/* Popup "window" */
div.popupContainer {
	font-size: 11px;
	font-weight: bold;
	line-height: 130%;
	text-align: left;
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 5px;
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	max-width: 300px;
	display: none;
	z-index: 100;
}

div.popupNormal {
	background-color: #c7e2ff;
	color: black;
}

div.popupError {
	background-color: #cc3333;
	color: white;
}

div.popupSuccess {
	background-color: #339933;
	color: white;
}

div.popupWarning {
	background-color: #eeee33;
	color: black;
}

img.loading { float:left; margin:5px 3px 0; }

div.remoteContent {
	display:none;
	position:fixed;
	left:0px;
	top:0px;
	width:300px;
	border:2px inset black;
	background:wheat;
	color:black;
}
