/* exfoliation: a nagios makeover                                          */
/* Copyright 2010 Matthew Wall, all rights reserved                        */
/*                                                                         */
/* Permission to use, copy, modify, and distribute this software for any   */
/* purpose with or without fee is hereby granted, provided that the above  */
/* copyright notice and this permission notice appear in all copies.       */

.status { }

.itemTotalsTitle { margin-left:1%; font-size: 11px; font-style: italic; clear:both;}

table.pageTitle { width:99%; margin: 0 auto; }
table.status {
	font-size: 11px;
	border-collapse:separate;
	border-spacing:0 2px;
	width:99%;
	margin: 5px auto;
}
th.status    {
	font-size: 11px;
	text-align: left;
	padding: 0 3px;
	border-bottom: 1px solid #777777;
	color: #333333;
	font-weight: bold;
}
div.status   { font-size: 11px; text-align: center; }
.statusOdd   { background-color: #e7e7e7; }
.statusEven  { background-color: #f8f6f6; }
table.status tr { background-color:#d0d0d0; vertical-align: middle; line-height: 16px; }
table.status tr td { padding: 0 3px; }
table.status tr td a { }
table.status > tr > th + th + th { width: 80px !important; }
table.status > tr > th + th + th + th { width: 125px !important; }
table.status > tr > th + th + th + th { width: 80px !important; }
table.status > tr > th + th + th + th + th { width: 80px !important; }
table.status tr td { vertical-align:middle; line-height: 16px; }

span.statIcons { float:right; }

.statusPENDING  { font-size: 11px; background-color: #acacac; border: 1px solid #777777; }
.statusOK       { font-size: 11px; background-color: #88d066; border: 1px solid #777777; }
.statusRECOVERY { font-size: 11px; background-color: #88d066; border: 1px solid #777777; }
.statusUNKNOWN  { font-size: 11px; background-color: #ffbb55; border: 1px solid #777777; }
.statusWARNING  { font-size: 11px; background-color: #ffff00; border: 1px solid #777777; }
.statusCRITICAL { font-size: 11px; background-color: #f88888; border: 1px solid #777777; }

.statusHOSTPENDING          { font-size: 11px; background-color: #acacac; }
.statusHOSTUP               { font-size: 11px; background-color: #cce8cc; }
.statusHOSTDOWN             { font-size: 11px; background-color: #ffdddd; }
.statusHOSTDOWNACK          { font-size: 11px; background-color: #ffdddd; }
.statusHOSTDOWNSCHED        { font-size: 11px; background-color: #ffdddd; }
.statusHOSTUNREACHABLE      { font-size: 11px; background-color: #ffddaa; }
.statusHOSTUNREACHABLEACK   { font-size: 11px; background-color: #ffddaa; }
.statusHOSTUNREACHABLESCHED { font-size: 11px; background-color: #ffddaa; }

.statusBGUNKNOWN          { font-size: 11px; background-color: #ffddaa; }
.statusBGUNKNOWNACK       { font-size: 11px; background-color: #ffddaa; }
.statusBGUNKNOWNSCHED     { font-size: 11px; background-color: #ffddaa; }
.statusBGWARNING          { font-size: 11px; background-color: #feffc1; }
.statusBGWARNINGACK       { font-size: 11px; background-color: #feffc1; }
.statusBGWARNINGSCHED     { font-size: 11px; background-color: #feffc1; }
.statusBGCRITICAL         { font-size: 11px; background-color: #ffdddd; }
.statusBGCRITICALACK      { font-size: 11px; background-color: #ffdddd; }
.statusBGCRITICALSCHED    { font-size: 11px; background-color: #ffdddd; }
.statusBGDOWN             { font-size: 11px; background-color: #ffdddd; }
.statusBGDOWNACK          { font-size: 11px; background-color: #ffdddd; }
.statusBGDOWNSCHED        { font-size: 11px; background-color: #ffdddd; }
.statusBGUNREACHABLE      { font-size: 11px; background-color: #ffddaa; }
.statusBGUNREACHABLEACK   { font-size: 11px; background-color: #ffddaa; }
.statusBGUNREACHABLESCHED { font-size: 11px; background-color: #ffddaa; }

div.totalsDiv { }
div.totalsWrap {
	display: inline-block;
	margin:30px 0 0 30px;
	padding:5px;
	background-color: #eeeeee;
}

div.serviceTotals      { font-size: 10pt; text-align: center; font-weight: bold; }
table.serviceTotals    { font-size: 10pt; font-weight: bold; }
th.serviceTotals,td.serviceTotals { padding:0 2px; }
th.serviceTotals,a.serviceTotals { font-size: 11px; }
td.serviceTotals       { font-size: 11px; text-align: center; background-color: #e0e0e0; border: 1px solid #777777; padding: 2px 4px; }
.serviceTotalsOK       { font-size: 11px; text-align: center; background-color: #88d066; border: 1px solid #777777; padding: 2px 4px; }
.serviceTotalsWARNING  { font-size: 11px; text-align: center; background-color: #ffff00; border: 1px solid #777777; padding: 2px 4px; }
.serviceTotalsUNKNOWN  { font-size: 11px; text-align: center; background-color: #ffbb55; border: 1px solid #777777; padding: 2px 4px; }
.serviceTotalsCRITICAL { font-size: 11px; text-align: center; background-color: #f88888; border: 1px solid #777777; padding: 2px 4px; }
.serviceTotalsPENDING  { font-size: 11px; text-align: center; background-color: #acacac; border: 1px solid #777777; padding: 2px 4px; }
.serviceTotalsPROBLEMS { font-size: 11px; text-align: center; background-color: #aaccff; border: 1px solid #777777; padding: 2px 4px; }

div.hostTotals         { font-size: 10pt; text-align: center; font-weight: bold; }
table.hostTotals       { font-size: 10pt; font-weight: bold; }
th.hostTotals,td.hostTotals { padding:0 2px; }
th.hostTotals,a.hostTotals { font-size: 11px; }
td.hostTotals          { font-size: 11px; text-align: center; background-color: #e0e0e0; border: 1px solid #777777; padding: 2px 4px; }
.hostTotalsUP          { font-size: 11px; text-align: center; background-color: #88d066; border: 1px solid #777777; padding: 2px 4px; }
.hostTotalsDOWN        { font-size: 11px; text-align: center; background-color: #f88888; border: 1px solid #777777; padding: 2px 4px; }
.hostTotalsUNREACHABLE { font-size: 11px; text-align: center; background-color: #ffbb55; border: 1px solid #777777; padding: 2px 4px; }
.hostTotalsPENDING     { font-size: 11px; text-align: center; background-color: #acacac; border: 1px solid #777777; padding: 2px 4px; }
.hostTotalsPROBLEMS    { font-size: 11px; text-align: center; background-color: #aaccff; border: 1px solid #777777; padding: 2px 4px; }

.miniStatusPENDING     { font-size: 11px; text-align: center; background-color: #acacac; border: 1px solid #777777; padding: 0 5px; }
.miniStatusOK          { font-size: 11px; text-align: center; background-color: #88d066; border: 1px solid #777777; padding: 0 5px; }
.miniStatusUNKNOWN     { font-size: 11px; text-align: center; background-color: #ffbb55; border: 1px solid #777777; padding: 0 5px; }
.miniStatusWARNING     { font-size: 11px; text-align: center; background-color: #ffff00; border: 1px solid #777777; padding: 0 5px; }
.miniStatusCRITICAL    { font-size: 11px; text-align: center; background-color: #f88888; border: 1px solid #777777; padding: 0 5px; }

.miniStatusUP          { font-size: 11px; text-align: center; background-color: #88d066; border: 1px solid #777777; padding: 0 5px; }
.miniStatusDOWN        { font-size: 11px; text-align: center; background-color: #f88888; border: 1px solid #777777; padding: 0 5px; }
.miniStatusUNREACHABLE { font-size: 11px; text-align: center; background-color: #ffbb55; border: 1px solid #777777; padding: 0 5px; }

/* page number styles, added 2/01/2012 -MG */
#top_page_numbers { float:right;} 
#result_limit { display:inline; margin-left:1%; } 
.pagenumber { display: block; float:left; border: 1px solid #AAAAAA; padding: 0 2px 0 2px; margin: 1px;text-align:center; height:15px; }
a.pagenumber:hover { background-color: #EFEFEF;text-decoration:none;}
.current_page { color: #AAA; }
#inner_numbers { clear:right;} 
#pagelimit,#bottom_page_numbers { font-size:11px;}
